<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/style.css" />
</head>

<body>
    <div id="app">

        <!-- Section Panier -->
        <div class="cart">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Votre commande</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ title }}</td>
                        <td>{{ nbrProduct }}</td>
                    </tr>
                    <tr>
                        <td>Code Promo</td>
                        <td class="code-promo">
                            <input v-model="promo" placeholder="Ajouter un code promo" />
                        </td>
                    </tr>
                    <tr>
                        <td>Total à payer</td>
                        <td>
                            <div v-if="promo === 'royale'">
                                (-3€)
                                <span class="sale">{{ totalPrice }} €</span>
                                {{ totalPrice - 3}} €
                            </div>
                            <div v-else>{{ totalPrice }} €</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Section Produit -->
        <div class="product-section">

            <!-- Image du produit -->
            <div class="product-image">
                <img :src="image" />
            </div>

            <!-- Description du produit -->
            <div class="product-description">
                <h1>{{ title }}</h1>

                <p v-show="notAvailable">Momentanément indisponible</p>

                <p v-if="superSale">
                    <span class="sale">{{ price }} € </span>
                    <span class="new-price"> {{ price - 5}} € SUPER PROMOTION</span>
                </p>
                <p v-else-if="classicSale">
                    <span class="sale">{{ price }} € </span>
                    <span class="new-price"> {{ price - 2}} € PROMOTION</span>
                </p>
                <p v-else>
                    <span class="price">{{ price }} €</span>
                </p>

                <br />
                <strong>Ingrédients </strong>
                <div>
                    <span v-for="(ingredient, index) in ingredients" :key="index">{{ ingredient + ", "}}
                    </span>
                </div>
                <br />
                <div class="sauces">
                    <strong>Sauces au choix</strong>
                    <ul>
                        <li @mouseover="updateImage(sauce.image)" v-for="sauce in sauces" :key="sauce.id">
                            {{ sauce.type }}
                        </li>
                    </ul>
                </div>
                <div>
                    <strong>Valeurs nutritionnelles pour 100 grammes</strong>
                    <ul>
                        <li v-for="(value, name, index) in energy" :key="index">
                            {{ name }} : {{ value }}
                        </li>
                    </ul>
                </div>

                <!-- Bouton d'ajout au panier -->
                <button @click="addProduct()">Ajouter à ma commande</button>
                <br /><br />
            </div>
        </div>
    </div>

    <!-- JS -->
    <script type="importmap">
    {
        "imports" : {
            "vue" : "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
    }
    </script>
    <script type="module" src="main.js"></script>
</body>

</html>